<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">

    <!-- Define quais arquivos entram na cobertura -->
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <!-- Gera o coverage.xml -->
    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Projeto Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
